:root {
  --navblue: #4c90ff;
  --navtext: #f2f2f2;
  --sidenav: #333;
  --element: #3E3E3E;
  --elementtitle: #707070;
  --dopzone: #595959;
}

.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  display: inline-block;
  height: 100px ;
  width: 130px ; 
  background-color: var(--element);
  font-family: serif;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin:5px;
}
.draggable:hover{
  background-color: var(--navblue);
}

.elementimg {
  position: relative;
  height: 20px;
  padding: 5px;  
  font-size: 1rem;
  font-family: serif;
  color: var(--elementimg);
}

.elementtitle {
  display: relative;
  position:;
  font-size: 1rem;
  color: var(--elementtitle);
  text-align: center;
  padding: 5px;
}

.test{
 position: absolute;
 color: black;
 left: 700px;
 top: 500px;
 background-color: white;
 width: 300px;
 height: 300px;
}

.elementdetails {
  color : white;
}

.meneitems {
  background:;
  color: white;
  position: relative;
  top: 0px;
  width:100%;
}

